{% set active_page = 'Queries' -%}
<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}
<h1>Instructies</h1>
<h3>Queries genereren</h3>
<h4>Opdracht</h4>
Het is de bedoeling dat van alle onderstaande events, alle gerelateerde events uit de corpus gevonden worden.
Deze artikels kun je opzoeken door verschillende queries te proberen over de corpus met woorden die er wel of niet in moeten voorkomen + het verfijnen van het zoekvenster door een daterange op te geven. 
Hierbij is het de bedoeling dat alle relevante artikels nog steeds in de zoekresultaten zitten. Kies dit zoekvenster dus zeker niet te klein. 
Gebruik het dus enkel als je weet dat er bv. geen artikels over een ramp kunnen gepubliceerd zijn als deze zich nog niet voordeed, waardoor artikels die toch in de query overbleven vor deze datum, sowieso niet over het event gaan...
<h4>Query Syntax</h4>
Hierbij is het aangeraden om gebruik te maken van logische operateren, haakjes en aanhalingstekens...
<ul>
<li>operatoren: NOT, AND, OR </li>
<li>haakjes: ) en ( </li>
<li>aanhalingstekens, ENKEL: " (dubbel aanhalingsteken)!, deze dient om enkel matches weer te geven waarbij meerdere woorden bij elkaar moeten staan bv. "Johan Van de Lanotte" </li>
<li>gebruik hoofdletters heeft geen invloed</li>
</ul>
<h4>Tips</h4>
<p>Om een beter idee te hebben over wat de events gaan en wanneer deze zich voordeden, is er ook een wikipedialink voorzien. (Deze link wordt geopend in een apart tabblad.)
<p>Om alle mogelijk gerelateerde artikels terug te vinden is het belangrijk om veel gebruik te maken van OR en haakjes:
<ul>
<li>synoniemen of gerelateerde woorden, bv. voor ontploffing (bom OR ontploft OR ontplofte OR ontploft OR explosief OR explosie)</li>
<li>verschillende schrijfwijzen: (vandelanotte OR "van de lanotte" OR "vande lanotte" OR "van de lannotte" OR "vande lannotte" )</li>
<li>soms is er een simpelere oplossing: (vandelanotte OR "van de lanotte" OR "vande lanotte" OR "van de lannotte" OR "vande lannotte" ) <br> --> (lanotte OR lannotte OR lannote)</li>
</ul>
<p> Voor het selecteren van de daterange:
<ul>
<!-- <li>We zoeken een aaneengesloten periode waarin er artikels rond het event voorkomen</li>-->
<li> Hierbij kun je gebruik maken van de grafiek op de linkerzijde</li>
</ul>
{% endblock %}
{% block sidebar %}
<h1>Events</h1>
<ul>
    {% for event in events %}
        <li> <a href="{{url_for('annotate.event',event=event.name)}}">{{event.name}}</a> </li>
    {% endfor %}
</ul>
{% endblock %}