{% set active_page = 'Annotate' -%}
<!-- extend base layout -->
{% extends "base.html" %}
{% from 'macros.html' import tablesorter, render_pagination %}
{% set relations = ['Core','Strong','Weak','Distant','No','(probleem)'] -%}
{% block body %}
<h1>{{event.name}}</h1><a href="{{event.link}}" target="_blank">Wikipedia page</a>
<p>{{nresults}} articles</p>
{% if pagination.total_count>0 %}
    {{render_pagination(pagination, page_gen)}}
    <form action="{{url_for('annotate_articles.submit_event',event=event.name)}}" method="post" name="annotateform" id="annotateform">
    <fieldset>
    <table class="table table-striped">
      <thead>
                <tr>
                    {%- for heading in ['date','title','relatedness'] %}
                      <th>{{heading}}</th>
                    {%- endfor %}
                </tr>
            </thead>
            <tbody>
                {%- for article in articles %}
                    <tr>
                          <td>{{article.date.strftime('%d/%m/%Y')}}</td>
                          <td>
                              <a href={{ url_for('article', code=article.code) }} name=article{{article.code}}>{{article.title[:120]}}</a>
                              <br>{{article.snippet|safe}}
                          </td>
                          <div name="relevance" id="relevance">
                              <td>
                                <div class="form-group">
                                    <div class="col-lg-9">
                                        
                                            {% if article.relevance==None %}
                                                {% for relation in relations %}
                                                    <div class="radio"><input type="radio" name="{{article.code}}" id="{{relation}}" value={{relation}}>{{relation}}</div>
                                                {% endfor %}
                                            {% else %}
                                                {{article.relevance}}
                                            {% endif %}
                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if article.relevance==None %}
                                    <button type="submit" class="btn">Submit</button>
                                {% endif %}
                            </td>
                        </div>
                    </tr>
                {%- endfor %}
            </tbody>
        </table>
    <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
    {{render_pagination(pagination, page_gen)}}
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="well sidebar-nav">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        
        
        <div class="panel-heading">
            <h4 class="panel-title">Stats</h4>
        </div>
        {% if user_event!=None %}
            <div class="panel-body">
                <ul>
                {% for key in user_event %}
                    <li>{{key}}:{{user_event[key]}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
 
{% block script %}
      {{ super() }}
      <script type="text/javascript">$('#query').tooltip('hide')</script>
{% endblock %}