{% set active_page = 'Annotate' -%}
<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}
<h1>Instructies</h1>
<h3>Artikels annoteren</h3>
<h4>Opdracht</h4>
Voor ieder artikel uit de lijst van artikels, moet er aangeduid worden in welke mate dat artikel volgens jou belangrijks is voor de opgegeven gebeurtenis. 
Hierbij moet er een van de volgende niveau's worden gebruikt:
<ul>
<li>Core: het artikel gaat integraal over de gebeurtenis in kwestie, en beschrijft deze integraal. Als je algemene informatie over deze gebeurtenis zoekt, hoort dit artikel bovenaan in de resultaten.</li>
<li>Strong: het artikel gaat volledig over de gebeurtenis, maar beschrijft eerder een deelaspect ervan dan een volledig overzicht.</li>
<li>Weak: het artikel heeft te maken met de gebeurtenis zelf, maar niet noodzakelijk helemaal, en bevat weinig essentiële informatie.</li>
<li>Distant: het artikel is in de verte gerelateerd met de gebeurtenis, maar dan enkel lang voordien of nadien (bv: de gebeurtenis wordt gewoon vermeld, in een andere context).</li>
<li>No: het artikel heeft op GEEN enkele manier te maken met de gebeurtenis.</li>
<li>(probleem): eender welke situatie die een probleem geeft om een label te kiezen. Bv: het artikel bv. bestaat uit een verzameling kleinere artikels, ev. met ongerelateerde titel.</li>
</ul>
<h4>Tips</h4>
Soms is de titel en de snippet van het artikel onduidelijk om te beslissen in welke mate een artikel tot een event behoort. In dit geval kun je op de titel drukken en dan wordt het volledige artikel geopend.
Als je het artikel gelezen hebt, kun je teruggaan naar de annotaties, door back te drukken in de browser. De huidige selecties (ook de niet gesubmitte selecties) zullen hierdoor NIET verloren gaan.
{% endblock %}
{% block sidebar %}
<h1>Events</h1>
<ul>
    {% for event in events %}
        <li> <a href="{{url_for('annotate_articles.event',event=event.name)}}">{{event.name}}</a> annotated: {{event.annotated}} </li>
    {% endfor %}
</ul>
{% if g.user.id in [1,2] %}
    <h4>Links</h4>
        <ul>
            <li> <a href="{{url_for('annotate_articles.results')}}">Summary of annotations</a></li>
        </ul>
{% endif %}
{% endblock %}