<!DOCTYPE html>
<html>
{% block css %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet" media="screen">
    
{% endblock %}
    {% block script %}
        <script src="{{ url_for('static', filename = 'js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
<head>
    <title>Search Portal</title>
</head>
<body>

{% set admin_navigation_bar = [
    (url_for('results'), 'Results')
] -%}

{% set navigation_bar = [
    (url_for('settings'), 'Settings'),
    (url_for('annotate.index'), 'Queries'),
    (url_for('annotate_articles.index'), 'Annotate')
] -%}
{% set active_page = active_page|default('index') -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Search Portal</a>
          <div class="nav-collapse collapse">            
            <ul class="nav navbar-nav">
		{% for href, caption in navigation_bar %}
  			<li{% if caption == active_page %} class="active"{% endif
  			%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
		{% endfor %}
            </ul>
            {% if g.user.id==1 %} 
                <form class="navbar-search pull-right" action="{{url_for('search')}}" method="post" name="search">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20,placeholder="Search",class="search-query")}}</form>
                <ul class="nav navbar-nav pull-right">
        		{% for href, caption in admin_navigation_bar %}
      			<li{% if caption == active_page %} class="active"{% endif
              		%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
           		{% endfor %}
                </ul>
            {% endif %} 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
           {% block sidebar %}{% endblock %}
        </div><!--/span-->
        <div class="span8">
          {% include 'flash.html' %}
	    {% block body %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->
      <hr>
        {% block footscript %}
        {% endblock %}
      <footer>
        <p>IBCN, 2013-2014</p>
      </footer>

    </div><!--/.fluid-container   &copy; -->
  </body>
</html>
