<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Settings" %}

{% block body %}
<h1>Change the settings of the Search Portal</h1>
<form class="form" action="" method="post" name="settings">
    <fieldset>
        {% for setting in settings %}
            <div class="form-group" >
                <div class="col-lg-9">
                     <div class="checkbox">
                        <label>
                          <input type="checkbox" name="{{setting}}" id="{{setting}}" checked={{settings[setting]}}> {{setting}}
                        </label>
                      </div>
                </div>
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn">Save</button>
    </fieldset>
</form>
{% endblock %}
