<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Settings" %}

{% block body %}
<h1>Change the settings of the Search Portal</h1>
<form class="form" action="" method="post" name="settings">
    <fieldset>
        {% for setting in settings %}
            <div class="form-group" >
                <div class="col-lg-9">
                    {{setting}}:
                  {% for relation in ['complete','snippet'] %}
                  <div class="radio"><input type="radio" name="{{setting}}" id="{{relation}}" value={{relation}} {% if settings[setting]==relation %} checked {% endif %}>{{relation}}</div>
                  {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn">Save</button>
    </fieldset>
</form>
{% endblock %}
