<!-- extend base layout -->
{% extends "base.html" %}
<!--{% set active_page = "Results" %} -->
{% from 'macros.html' import tablesorter %}
{% block script %}
      {{ super() }}
        <!-- tablesorter plugin -->
        <script src="{{ url_for('static', filename = 'vendor/tablesorter/js/jquery.tablesorter.min.js') }}"></script>
        <!-- tablesorter widget file - loaded after the plugin -->
        <script src="{{ url_for('static', filename = 'vendor/tablesorter/js/jquery.tablesorter.widgets.min.js') }}"></script>
        <!-- blue theme stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/tablesorter/css/theme.blue.css') }}">
      {{ tablesorter() }}

{% endblock %}
{% block body %}
<h1>Available <a href={{url_for('results')}}>Results</a> for {{rtype}}:</h1>
<div class="span12">
    <table class="tablesorter" id="sortTableExample">
        <thead>
            <tr>
                {%- for heading in headings %}
                  <th>{{heading}}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            {%- for entry in entries %}
                <tr>
                    {%- for cell in entry %}
                      <td><a href={{url_for('results',rtype='compare_event',name=entry[0])}}>{{cell}}</a></td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
</div> <!--/.table-responsive -->

{% endblock %}
