<!-- extend base layout -->
{% extends "base.html" %}
<!--{% set active_page = "Results" %} -->

{% block body %}
<h1>Available <a href={{url_for('results')}}>Results</a> for <a href={{url_for('results',rtype='compare_events')}}>{{rtype}}</a> of {{name}}:</h1>
<div class="span12">
    <table class="tablesorter" id="sortTableExample">
        <thead>
            <tr>
                {%- for heading in headings %}
                  <th>{{heading}}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            {%- for entry in entries %}
                <tr>
                    {%- for cell in entry %}
                      <td>{{cell}}</td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
</div> <!--/.table-responsive -->

{% endblock %}
